body{
    height: 100%;
    transition:0.9s;
    font-family: 'Montserrat', sans-serif;
}
#nav{
    position:fixed;
    top:0;
    width:100%;
    background-color:rgb(32, 112, 179);
    padding:.5%;
    margin-bottom:50px;
}
#nav ul{
    margin:0;
}
#nav a,#notification{
    color:#fff;
    font-weight: 500;
    font-size:20px;
    cursor:pointer;
}
#nav ul li{
    list-style-type: none;
    float:left;
}
span{
    float:right !important;
}
br{
    clear:left;
}
/*add new button */
#addnew{
    position:fixed;
    bottom:5%;
    left:92%;
    border-radius:600px;
    text-align:center;
    width:60px;
    height:60px;
    font-size:45px;
    border:none;
    background-color:rgb(245, 10, 10);
    color:white;
    box-shadow: 0 0 9px 0 rgba(34, 33, 33, 0.87);
}
#none{
    font-size:30px;
    color:rgba(128, 128, 128, 0.596);
    text-align:center;
    padding-top:300px;
}
#addnew:hover{
    transition:0.9s;
    background-color:rgba(245, 10, 10, 0.637);
    cursor:pointer;
}
#loader{
    width:100%;
    margin:50px auto;
    display:grid;
    grid-template-columns: 33% 33% 33%;
}
.card{
    box-shadow:0 0 4px 0 rgba(34, 33, 33, 0.87);
    width:90%;
    margin:10px auto;
    border:none;
    border-radius: 2px;
    text-align:center;
}
.card button{
    margin: 24px auto;

}
.strings{
    padding:30px;
}

#file{
    margin-bottom:3px;
}
#back{
    margin-top:50px;
    position:fixed;
}
#fileuploader{
    transition:0.5s;
    width:60%;
    text-align:center;
    margin:auto;
    padding-top:150px;
}
#fileuploader form input, textarea{
    text-align:center;
}
#makesure{
    position:fixed;
    z-index:4;
    top:260px;
    width:70%;
    left:15%;
    padding:50px;
    text-align:center;
    background:rgba(128, 128, 128, 0.438);
    margin:20px auto;

    border-radius:10px;
}
#home{
    margin-top:70px;
}
.notify{
    padding:30px;
    text-align:center;
    width:90%;
    font-size:20px;
    margin: 10px auto;
    background-color: rgba(32, 113, 179, 0.11);
    border:2px solid ghostwhite;
}
@media screen and (max-width:700px){
    #nav ul{
        padding:5px;
    }
    #none{
        padding-top:253px;
    }
    #addnew{
        width:50px;
        height:50px;
        font-size:37px;
        left:83%;
    }
    #loader{
        display:block;
    }
} 