body{
    font-family: 'Open Sans', sans-serif;
}
#nav{
    background-color:rgb(247, 247, 247);
    width:100%;
    position: fixed;
    box-shadow: 0 0 4px 0 rgba(34, 33, 33, 0.87);
    width: 100%;
    top: 0;
    z-index: 2;
    padding:10px;
}
a{
    color:black;
}
#nav li{
    display: inline-block;
}
#nav input{
    border:none;
    border-radius:3px;
    margin:0;
}
#search{
    border-radius:5px;
    background:rgb(7, 7, 231);
    border:none;
    color:white;
}
form{
    float:right;
    display:block;
}

/*feed boxes*/
.container{
    width: 100%;
}
#feeds{
    margin-top:100px;
    list-style-type:none;
    display: grid;
    width:100%;
	grid-template-columns: 33% 33% 33%;
	padding: 5px;
}
.feed-block{
    width:90%;
    text-align:center;
    border-radius:10px;
    margin:auto;
    margin-bottom: 15px;
    box-shadow: 0 1px 2px 0 rgba(56, 54, 54, 0.87);
    background-color:rgb(236, 232, 232);
}
.info{
    padding:30px;
}
.info h2{
    color:green;
}
.green{
    margin-bottom:30px;
}
@media screen and (max-width:650px){
    #feeds{
        width:100%;
        display:inline-block;
    }
} 
/*view product css*/
#view{
    text-align:center;
    padding:10px;
    width:100%;
}
#view img{
    width:100%;
    margin: 60px auto;
}
#view h2{
    font-size:18px;
}
/*owner css*/
#reachout{
    margin-top:100px;
}