#nav{
    background-color:rgb(247, 247, 247);
    width:100%;
    position: fixed;
    box-shadow: 0 0 4px 0 rgba(34, 33, 33, 0.87);
    width: 100%;
    top: 0;
    z-index: 2;
}
a{
    color:white;
}
#nav li{
    display: inline-block;
    padding:1%;
}
#nav input{
    border:none;
    border-radius:3px;
    margin:0;
    padding:2px;
}
#search{
    width:20%;
    border-radius:5px;
    background:gold;
    border:none;
    color:white;
}
form{
    margin-left:70%;
    padding:0;
    border:none;
    display:inline-block;
}
@media screen and (max-width:700px){
    form{
        margin-left:23%;
    }
} 
/*feed boxes*/
.container{
    widows: 100%;
}
#feeds{
    margin-top:100px;
    list-style-type:none;
    display: grid;
    width:100%;
	grid-template-columns: 33% 33% 33%;
	padding: 5px;
}
.feed-block{
    width:90%;
    text-align:center;
    padding:20px;
    border-radius:10px;
    margin:auto;
    margin-bottom: 15px;
    box-shadow: 0 1px 2px 0 rgba(56, 54, 54, 0.87);
}
@media screen and (max-width:650px){
    #feeds{
        width:100%;
        display:inline-block;
    }
} 