body{
    font-family: 'Montserrat', sans-serif;
}
#nav{
    background-color:rgb(32, 112, 179);
    margin:0;
    width:100%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    display:inline-block;
}
a{
    padding: 17.5px 12px;
    color:#fff;
    font-size:14px;
}
#righters{
    padding:17.5px 0 17.5px 0;
    display:inherit;
    float:right;
}
.right{
    margin-left:10px;
    display:inline-block;
    list-style: none;
}


/*feed boxes*/
.container{
    width: 100%;
}
#feeds{
    margin-top:100px;
    list-style-type:none;
    display: grid;
    width:100%;
	grid-template-columns: 33% 33% 33%;
	padding: 5px;
}
.feed-block{
    width:90%;
    text-align:center;
    border-radius:10px;
    margin:auto;
    margin-bottom: 15px;
    box-shadow: 0 1px 2px 0 rgba(56, 54, 54, 0.87);
}
.info{
    padding:30px;
}
.info h2{
    color:green;
}
.green{
    margin-bottom:30px;
}
/*History feed styles*/
#nohistory{
    margin-top:200px;
    text-align:center;
    color:rgba(0, 0, 0, 0.24);
}
.user-history{
    padding:15px;
    text-align:center;
     background-color:rgba(32, 113, 179, 0.11);
    border:2px solid whitesmoke;
    margin:10px auto;
    width:90%;
}
.user-history h4{
    text-align:inherit;
}
@media screen and (max-width:650px){
    #feeds{
        width:100%;
        display:inline-block;
    }
} 
/*view product css*/
#view{
    text-align:center;
    padding:10px;
    width:100%;
}
#view img{
    width:100%;
    margin: 60px auto;
}
#view h2{
    font-size:18px;
}
/*owner css*/
#reachout{
    margin-top:100px;
}
#getback{
    margin-top:100px;
    text-align: center;
}