<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="../public/bootstrap.css">
    <link rel="stylesheet" href ="../public/agents.css"> 
    <title>Feeds</title>
    <script src="../js/bscripts/jquery-2.2.4.min.js"></script>
    <script src="../js/agentfeeds.js"></script>
</head>
<body>
<div id="nav">
    <ul>
        <li><a href="../agent/Logout.php">logout</a></li>
        <span><div id="notification"><i class="material-icons">
            notification_important
            </i></div></span>
        <br>
    </ul>
</div>
<div id="home">
<div id="loader">
    <p id="none">You have no products added</p>
</div>
<div id="settings">
</div>
</div>

<button id="addnew">+</button>
</body>
</html>