<!--<div id="fileuploader">
        <form id="fileuploader-form" enctype="multipart/form-data" >
            <input class="form-control" type="text" placeholder="Location" name="location"><br>
            <input class="form-control" type="text" placeholder="Price" name="price"><br>
            <textarea class="form-control"  placeholder="information" name="info"></textarea><br>
            <input id="image" type="file" name="file" class="form-control adjust"><br>
            <input id="submit" class="btn btn-primary adjust form-control" type="submit" name="submit" value="submit">
        </form>
</div>-->
<div id="submit" style="text-align:center;cursor:pointer;">
    submit
</div>