<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/bootstrap.css">
    <link rel="stylesheet" href ="../public/feeds.css"> 
    <title>Feeds</title>
    <script src="../js/bscripts/jquery-2.2.4.min.js"></script>
    <script src="../js/feeds.js"></script>
</head>
<body>
       <div>
        <ul id="nav">
            <li id="state"><a href="../index.html">signin</a></li>
                <form>
                    <input type="text" placeholder="location">
                    <input id="search" type="submit" value="search">
                </form>
        </ul>
        <div class="container" id="main">
            <ul id="feeds">
             
            </ul>
        </div>
    </div>
</body>
</html>