<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/bootstrap.css">
    <link rel="stylesheet" href ="../public/feeds.css"> 
    <title>Feeds</title>
    <script src="../js/bscripts/jquery-2.2.4.min.js"></script>
    <script src="../js/feeds.js"></script>
</head>
<body>
        <ul id="nav">
            <li id="state"><a href="../index.html">signin</a></li>
                <form>
                    <input type="text" placeholder="location">
                    <input id="search" type="submit" value="search">
                </form>
        </ul>
        <div class="container">
            <ul id="feeds">
                <li class = "feed-block">
                        <img src="../public/presentation.jpeg" class="img-responsive">
                        <h3>MARERE</h3>
                        <p>N20,000</p>
                        <p>Details</p>
                        <input type="submit" value="Get" class="btn btn-primary">
                </li>
                <li class = "feed-block">
                        <img src="../public/presentation.jpeg" class="img-responsive">
                        <h3>JAJA</h3>
                        <p>N30,000</p>
                        <p>Details</p>
                        <input type="submit" value="Get" class="btn btn-primary">
                </li>
                <li class = "feed-block">
                        <img src="../public/presentation.jpeg" class="img-responsive">
                        <h3>ENINJOKU</h3>
                        <p>N20,000</p>
                        <p>Details</p>
                        <input type="submit" value="Get" class="btn btn-primary">
                </li>
                <li class = "feed-block">
                        <img src="../public/presentation.jpeg" class="img-responsive">
                        <h3>ENINJOKU</h3>
                        <p>N20,000</p>
                        <p>Details</p>
                        <input type="submit" value="Get" class="btn btn-primary">
                </li>
                <li class = "feed-block">
                        <img src="../public/presentation.jpeg" class="img-responsive">
                        <h3>ENINJOKU</h3>
                        <p>N20,000</p>
                        <p>Details</p>
                        <input type="submit" value="Get" class="btn btn-primary">
                </li>
                <li class = "feed-block">
                        <img src="../public/presentation.jpeg" class="img-responsive">
                        <h3>ENINJOKU</h3>
                        <p>N20,000</p>
                        <p>Details</p>
                        <input type="submit" value="Get" class="btn btn-primary">
                </li>
                <li class = "feed-block">
                        <img src="../public/presentation.jpeg" class="img-responsive">
                        <h3>ENINJOKU</h3>
                        <p>N20,000</p>
                        <p>Details</p>
                        <input type="submit" value="Get" class="btn btn-primary">
                </li>
                <li class = "feed-block">
                        <img src="../public/presentation.jpeg" class="img-responsive">
                        <h3>ENINJOKU</h3>
                        <p>N20,000</p>
                        <p>Details</p>
                        <input type="submit" value="Get" class="btn btn-primary">
                </li>
            </ul>
        </div>
    </div>
</body>
</html>